{
  "extends": "airbnb",
  "parserOptions": {
        "sourceType": "script",
  },
  "rules": {
    "strict": 0,
    no-param-reassign: [
      "error",
      { "props": false }
    ],
    "no-console": 0
  },
  "globals": {
    "describe": true,
    "it": true,
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "should": true
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
