{
  "extends": "airbnb",
  "parserOptions": {
        "sourceType": "script"
  },
  "rules": {
    "strict": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "max-classes-per-file": ["error", 2],
    "no-param-reassign": [
      "error",
      { "props": false }
    ],
    "no-console": 0
  },
  "globals": {
    "describe": true,
    "it": true,
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "should": true
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
